<form (ngSubmit)="onSubmit()" [formGroup]="form" role="form">
  <div class="form-column">
    <div>
      <app-form-input
        id="name"
        name="name"
        label="Name"
        formControlName="name"
        [error]="f['name'].dirty && f['name'].errors ? 'You must enter your name' : ''"
      ></app-form-input>
    </div>
    <div>
      <app-form-input
        id="email"
        name="email"
        label="Email"
        formControlName="email"
        [error]="f['email'].dirty && f['email'].errors ? 'You must enter your email' : ''"
      ></app-form-input>
    </div>
    <div>
      <app-form-input
        id="password"
        name="password"
        label="Password"
        type="password"
        formControlName="password"
        [error]="f['password'].dirty && f['password'].errors ?
      'You must enter a password, minimum length is 6 characters' : ''"
      ></app-form-input>
    </div>
    <div>
      <app-form-radio-group
        id="options"
        label="Options"
        [error]="f['options'].touched && f['options'].errors ? 'You must select the option 1 or 2' : ''"
      >
        <div class="radio-item" [class.selected]="form.get('options').value === 'option1'">
          <app-form-radio-input
            id="option1"
            name="options"
            label="Option 1"
            optionValue="option1"
            formControlName="options"
            [isFlagged]="true"
            [error]="!!(f['options'].touched && f['options'].errors)"
          ></app-form-radio-input>
        </div>
        <div class="radio-item" [class.selected]="form.get('options').value === 'option2'">
          <app-form-radio-input
            id="option2"
            name="options"
            label="Option 2"
            optionValue="option2"
            formControlName="options"
            [isFlagged]="true"
            [error]="!!(f['options'].touched && f['options'].errors)"
          ></app-form-radio-input>
        </div>
        <div class="radio-item" [class.selected]="form.get('options').value === 'option3'">
          <app-form-radio-input
            id="option3"
            name="options"
            label="Option 3"
            optionValue="option3"
            formControlName="options"
            [isFlagged]="true"
            [error]="!!(f['options'].touched && f['options'].errors)"
          ></app-form-radio-input>
        </div>
      </app-form-radio-group>
    </div>
    <div>
      <app-form-radio-group
        id="otherOptions"
        label="Other Options"
        [error]="f['otherOptions'].touched && f['otherOptions'].errors ? 'You must select the option 1 or 2' : ''"
      >
        <div class="radio-item" [class.selected]="form.get('otherOptions').value === 'option1'">
          <app-form-radio-input
            id="otherOption1"
            name="otherOptions"
            label="Option 1"
            optionValue="option1"
            formControlName="otherOptions"
            [isFlagged]="true"
            [error]="!!(f['otherOptions'].touched && f['otherOptions'].errors)"
          ></app-form-radio-input>
        </div>
        <div class="radio-item" [class.selected]="form.get('otherOptions').value === 'option2'">
          <app-form-radio-input
            id="otherOption2"
            name="otherOptions"
            label="Option 2"
            optionValue="option2"
            formControlName="otherOptions"
            [isFlagged]="true"
            [error]="!!(f['otherOptions'].touched && f['otherOptions'].errors)"
          ></app-form-radio-input>
        </div>
        <div class="radio-item" [class.selected]="form.get('otherOptions').value === 'option3'">
          <app-form-radio-input
            id="otherOption3"
            name="otherOptions"
            label="Option 3"
            optionValue="option3"
            formControlName="otherOptions"
            [isFlagged]="true"
            [error]="!!(f['otherOptions'].touched && f['otherOptions'].errors)"
          ></app-form-radio-input>
        </div>
      </app-form-radio-group>
    </div>
    <div>
      <app-form-select
        id="select-list"
        label="Select List"
        formControlName="selectList"
        [error]="f['selectList'].touched && f['selectList'].errors ? 'You must select an Option 1, 2 or 3' : ''"
        [options]="selectListOptions"
      >

      </app-form-select>
    </div>
    <div class="buttons">
      <app-button state="primary">Submit Form</app-button>
      <app-button state="secondary">Submit Form</app-button>
      <app-button state="error">Submit Form</app-button>
      <app-button state="warning">Submit Form</app-button>
    </div>

    <div>
      <app-button
        state="secondary"
        (onClick)="onReset()">
        Reset Form
      </app-button>
    </div>
    <div>
      <h3>Form Value</h3>
      <pre>{{ form.value | json }}</pre>
    </div>
  </div>
</form>
