<div class="form-input">
  <label [for]="'form-input-' + id">{{ label }}</label>
  <input [id]="'form-input-' + id" [name]="name" [value]="value" (input)="onInputChange($event)"
         [type]="type"
         [ngClass]="{'error-border': error}"
         [attr.aria-invalid]="error ? 'true' : 'false'"
         [attr.aria-describedby]="error ? id + '-error' : null">
  @if (error) {
    <div [id]="id + '-error'" class="error-message" role="alert" aria-live="assertive">
      <i class="fa-duotone fa-solid fa-triangle-exclamation"></i> {{ error }}
    </div>
  }
</div>
