<div class="toasts">
  <app-toast *ngFor="let toastItem of objectValues(toastList)" [toastItem]="toastItem"></app-toast>
</div>
<div class="app-container" *ngIf="loaded; else loading" [class.light]="!theme">
  <app-header></app-header>
  <app-navigation></app-navigation>
  <div class="app-content" [class.is-open]="menuState">
    <router-outlet/>
  </div>
</div>
<ng-template #loading>
  <div class="loading">
    Loading...
    <app-loading colour="#000000"></app-loading>
  </div>
</ng-template>
