label {
  margin: 0;
}

.form-radio-input {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
  position: relative;
}

.form-radio-input input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid var(--white);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  outline: none;
  background-color: var(--grey-light);
}

.form-radio-input input[type="radio"]:checked {
  border: 2px solid var(--green);
}

.form-radio-input input[type="radio"]:checked + .checkmark {
  display: block;
}

.form-radio-input input[type="radio"]:checked {
  background-color: var(--green);
}

.form-radio-input input[type="radio"]:checked.error-border {
  background-color: var(--red) !important;
}

.form-radio-input .checkmark {
  display: none;
  position: absolute;
  left: 14px;
  top: 16px;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: var(--black);
}

