.btn-error {
  background-color: var(--button-red);
  color: var(--white);
}

.btn-error:hover {
  background-color: var(--button-red-hover);
}

.btn-warning {
  background-color: var(--button-orange);
  color: var(--white);
}

.btn-warning:hover {
  background-color: var(--button-orange-hover);
}

.btn-primary {
  background-color: var(--button-green);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--button-green-hover);
}

.btn-secondary {
  background-color: var(--button-purple);
  color: var(--white);
}

.btn-secondary:hover {
  background-color: var(--button-purple-hover);
}

button {
  transition: 300ms;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
