<div class="navigation" #navigationDiv [class.is-open]="menuState" role="navigation">
  <ul>
    <li>
      <a routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{exact:true}" aria-label="Home">
        <div class="icon"><i class="fa-duotone fa-house-chimney"></i></div>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="dashboard" aria-label="Dashboard">
        <div class="icon"><i class="fa-duotone fa-gauge-max"></i></div>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="test" aria-label="Test">
        <div class="icon"><i class="fa-duotone fa-flask-vial"></i></div>
        <span>Test</span>
      </a>
    </li>
<!--    <li>-->
<!--      <a routerLinkActive="active" routerLink="login" aria-label="Login">-->
<!--        <div class="icon"><i class="fa-duotone fa-lock"></i></div>-->
<!--        <span>Login</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLinkActive="active" routerLink="magic-login" aria-label="Magic Login">-->
<!--        <div class="icon"><i class="fa-duotone fa-wand-magic-sparkles"></i></div>-->
<!--        <span>Magic Login</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLinkActive="active" routerLink="register" aria-label="Register">-->
<!--        <div class="icon"><i class="fa-duotone fa-id-card"></i></div>-->
<!--        <span>Register</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLinkActive="active" routerLink="forgotten-password" aria-label="Forgotten Password">-->
<!--        <div class="icon"><i class="fa-duotone fa-key"></i></div>-->
<!--        <span>Forgotten Password</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLinkActive="active" routerLink="otp/email" [routerLinkActiveOptions]="{exact:true}" aria-label="Confirm Email">-->
<!--        <div class="icon"><i class="fa-duotone fa-envelope"></i></div>-->
<!--        <span>Confirm Email</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLinkActive="active" routerLink="otp/mobile" [routerLinkActiveOptions]="{exact:true}" aria-label="Confirm Mobile">-->
<!--        <div class="icon"><i class="fa-duotone fa-mobile"></i></div>-->
<!--        <span>Confirm Mobile</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLinkActive="active" routerLink="otp/mobile/abcddd/123456" aria-label="One Time Passcode">-->
<!--        <div class="icon"><i class="fa-duotone fa-envelope"></i></div>-->
<!--        <span>One Time Passcode</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <hr role="separator">-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLinkActive="active" routerLink="settings" aria-label="Settings">-->
<!--        <div class="icon"><i class="fa-duotone fa-sliders"></i></div>-->
<!--        <span>Settings</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLinkActive="active" routerLink="profile" aria-label="Profile">-->
<!--        <div class="icon"><i class="fa-solid fa-user"></i></div>-->
<!--        <span>Carl Fearby</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <hr role="separator">-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLinkActive="active" routerLink="api-tester" aria-label="Api Tester">-->
<!--        <div class="icon"><i class="fa-duotone fa-microscope"></i></div>-->
<!--        <span>Api Tester</span>-->
<!--      </a>-->
<!--    </li>-->
  </ul>
</div>
